%h1.inline_h.headerPages
  %i.fa.fa-paperclip
  =t('CurAttachments')

%hr

.container
  %table.table.table-hover
    %thead
      %tr
        %th= Attachment.human_attribute_name(:position)
        %th= Attachment.human_attribute_name(:user_id)
        %th= t('Document_link')
        %th= t('AttachCreatedAt')
        %th
        %th
        
    %tbody
      - @attachments.each do |attachment|
        %tr
          %td= attachment.position
          %td= attachment.user.name
          %td= attachment.document
          %td= attachment.created_at
          %td= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + ' ' + t('DownloadFile'), attachment.document.url(:original, false), class: "btn btn-primary"
          %td= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe + ' ' + t('Destroy'), attachment, :method => :delete, :data => { :confirm => t('helpers.sure')}, class: "btn btn-danger"


%br
  
= link_to '<i class="fa fa-paperclip"></i>'.html_safe + ' ' +t('UploadFile'), new_attachment_path, class: 'btn btn-primary'

  
